.about {
  height: 800px;
  background-image: url("/src/images/IllustrationWoman.svg");
  background-size:900px ;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  
}


.about__text{
  position: relative;
  left: 80px;
  bottom: 80px;
  width: 280px;
}

@media (min-width:280px) and (max-width:599px) {

.about{
  background-size: 600px;
  padding: 10px;
}


.about__text{
  width: 150px;
  position: relative;
  left: 40px;
  top: 5px;
}



}
