.about {
  display: flex;
  height: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/IllustrationWoman.svg");
  background-size:1000px ;
  background-position: center;
  background-repeat: no-repeat;
}

.about__container{
  position: relative;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  left: 100px;
  bottom: 80px;
  padding: 15px;
}

.about__text{
  font-size: 17px;
  color: white;
}

.about__title{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

@media (min-width:280px) and (max-width:599px) {

.about{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
}

.about__text{
  position: relative;
  width: 200px;
  left: 2px;
  top: 5px;
}

.about__title{
  position: relative;
  left:50px;
}
}
