.contact-me{
    height: 800px;
    background-image: url("/src/images/Illustration\ 3.svg");
    background-size: 1400px;
    background-repeat: no-repeat;
    background-position: 700px;
    position: relative;
    top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
   
      
}

.contact{
    height: 500px;
    width: 800px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 20px;
    background-color:rgba(41, 84, 163, 0.4);
    border-radius: 15px;
    position: relative;
    bottom: 100px;
    gap: 80px;
    text-align: center;
}

.contacts{
 color: white;
 
}
.Icon{
    background-color: RGBA(255,255,255,0.11);
    border-radius: 15px;
}


.contact__container{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:100px;
    width: 300px;
    
}

.contact__information{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact__title--text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact__title{
    color: white;
    font-size: 20px;
}

.contact__text{
    color: white;


}

.contact__form{
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: antiquewhite;   
}


.contact__forms{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;  
   
}


.contact-image{ 
    display: flex;  
    justify-content: flex-end; 
}

img{
    object-fit: contain;
    width: 80%;
    height: 80%;
    position: relative; 
}

.input{
    width: 300px;
    height:30px;
    border-radius: 10px;
    border-width: 0.1px;
    background-color:RGBA(128,128,128,0.44);
    text-align: center;
}

::placeholder{
    color: white;
}

.input--body{
height: 100px;
}


.btn-create{
    position: relative;
    top:15px;
    border-width: 0.1px;
    border-style: solid;
    cursor: pointer;
    height: 180px;
    width: 180px;
    background: linear-gradient(to right, #C961DE, #2954A3);
}

.btn-create:hover{
    background: linear-gradient(to right, #2954A3, #C961DE);
}


@media (min-width:280px) and (max-width:599px) {

.contact-me{
    width: 400px;
    height: 700px;
    
    top: 0px;
    flex-direction: column;
    justify-content: center;
    background-size: 800px;
    background-position: 0px;
}

.contact{
    width: 80%;
    height: 850px;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__form{
    width: 50px;
    gap: 0px;
}


.form{
    width: 80%;
}

.contact__title{
    width: 300px;
}

.btn-create{
    width: 150px;
}

}

