.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  height: 300px;
  padding: 50px;
  background-color: rgba(41, 84, 163, 0.2);
}

.footer__elements {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    gap:90px;
    font-size: 17px;
    list-style: none;
    justify-content:center;
} 



.footer__social--media {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.icon__circle {
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: red;
  border-radius: 25px;
  text-align: center;
}

.icon__circle--INS {
  background-color: #ff5f9e;
}
.icon__circle--twitter {
  background-color: #19a7ce;
}
.icon__circle--IN {
  background-color: #146c94;
}
.icon__circle--FB {
  background-color: #3e54ac;
}

.icons {
  margin-top: 20%;
}

.icons--INS {
  margin-top: 10%;
}

.footer__options {
  display: flex;
  gap: 10px;
  align-items: center;
} 

hr{
  position: relative;
  bottom: 10px;
  height: 1px;
  width: 1200px;
  color:#EEE9DA;
  opacity: 0.2;
}

@media (min-width: 280px) and (max-width: 599px) {
 .footer{
  gap: 90px;
  width: 100%;
  height: 400px;
 }
 
  .footer__elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
   width: 200px;
   height: 300px;

  }

  .footer__social--media {
    gap: 15px;
  }

  hr{
    position: relative;
    bottom: 70px;
    height: 1px;
    width: 300px;
    color:#EEE9DA;
    opacity: 0.2;
  }

}
