.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  height: 300px;
  padding: 50px;
  background-color: rgba(41, 84, 163, 0.2);
}

 .footer__elements {
   display: flex;
   justify-content:center;
   align-items: center;
   width: 100%;
   height: 100px; 
   gap:90px;
   list-style: none;
   z-index:1 ;
} 

.footer__social--media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  list-style: none;
}

.icon__circle {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: red;
  border-radius: 25px;
}

.icon__circle--INS {
  background-color: #ff5f9e;
}
.icon__circle--twitter {
  background-color: #19a7ce;
}
.icon__circle--IN {
  background-color: #146c94;
}
.icon__circle--FB {
  background-color: #3e54ac;
}

.icons {
  margin-top: 20%;
}

.icons--INS {
  margin-top: 10%;
}

  .footer__options {
  display: flex;
  align-items: center;
  gap: 10px;
}  

hr{
  position: relative;
  bottom: 10px;
  height: 1px;
  width: 1200px;
  color:#EEE9DA;
  opacity: 0.2;
}




@media (min-width: 280px) and (max-width: 599px) {
 .footer{
   width: 100%;
   height: 400px;
   gap: 90px;
 }
 
  .footer__elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 200px;
    height: 300px;

  }

  .footer__social--media {
    gap: 15px;
  }

  hr{
    position: relative;
    bottom: 70px;
    height: 1px;
    width: 300px;
    color:#EEE9DA;
    opacity: 0.2;
  }

}
