.nav {
  height: 350px;
  background-repeat: no-repeat;
  background-image: url("/src/images/Illustration 1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-size: 280px;
  background-position-y: center;
  background-color: #0F103F;

}

.nav__portfolio {
  display: flex; 
}

.nav__menu {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap:90px;
  font-size: 17px;
  list-style: none;
  justify-content:center;

}

.nav__img{
  height: 500px;
  width: 500px;
}

.nav__menu2{
  display: none;
}

.nav__menuIcon {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and  (min-width: 280px) and (max-width: 599px) {
  
  .nav{
    width: 100%;
   
  }
  .nav__menu {
    display: none;
  }

  
  .nav__menu2 {
    margin-top: 10px;
    width:100%; 
    height: 300px;
    position: absolute;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    background-color: #0F103F;
  }

  .nav__menuIcon {
    display: block;
  }

  .Icon__hamburger {
    color: white;
  }
}
