@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Poppins:wght@400;700&display=swap');


*{
    padding: 0;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body{
    background-color:#0F103F;
    font-family: 'poppins', 'san-serif';
}








